---
import { getCollection } from "astro:content";
import type { Blog } from "../types";

// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import FeaturedBlogCard from "../components/FeaturedBlogCard.astro";
import BlogCard from "../components/BlogCard.astro";
// End of Components

const BlogsCollection : Blog[] = await getCollection("blog") as Blog[];
const FeaturedBlogs : Blog[] = BlogsCollection.splice(0, 6);
---

<BaseLayout>
  <Hero />
  <Section title="Featured Blogs">
    <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
      { FeaturedBlogs.map(blog => <FeaturedBlogCard blog={blog} />) }
    </div>
  </Section>
  <Section title="Other Blogs">
    <div class="lg:flex">
      <aside class="flex-shrink-0 basis-[400px] lg:order-1"></aside>
      <div class="mt-4 flex gap-4 flex-wrap flex-grow">
        { BlogsCollection.map(blog => <BlogCard blog={blog} />) }
      </div>
    </div>
  </Section>
</BaseLayout>
