<section class='relative'>
	<img
		src='https://picsum.photos/1440/700'
		alt='personal blog'
		width='1440'
		height='700'
		class='max-h-dvh object-cover size-full min-h-[400px]'
	/>
	<div
		class='absolute inset-0 flex bg-gradient-to-b from-gray-950/40 to-gray-950'>
		<hgroup
			class='select-none text-center m-auto lowercase leading-tight font-mono'>
			<h1 class='text-[#00FF77] font-bold'>code:life</h1>
			<p class='text-neutral-100'>
				{'< '}Indulging lifelong pursuance to success {' />'}
			</p>
		</hgroup>
	</div>
</section>
<style>
	h1 {
		text-shadow: 0 0 20px #000;
		font-size: clamp(2em, calc(1.75em + 8vw), 7em);
	}
	p {
		font-size: clamp(0.95rem, 2vw, 1.5rem);
	}
</style>
