---

import { BASE_URL } from '../configs/site_data';
import Header from '../components/Header.astro';
const { title = 'Home' } = Astro.props;

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href={BASE_URL + '/favicon.svg'} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={ Astro.generator } />
		<title>BlogSpot | { title }</title>
	</head>
	<body class='bg-gray-950 text-neutral-200 pb-10'>
		<Header />
		<slot />
	</body>
</html>
